body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
  background-color: rgb(244, 242, 242);
}
/* ------- NAVBAR -------- */
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
}

#logo {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

#contain-nav-item {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.nav-item {
  list-style: none;
}

#add-new {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 6px 0 6px;
}

.nav-item-a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.nav-item-a:hover {
  color: rgb(87, 87, 168);
}

.nav-item-a:active {
  color: rgb(145, 145, 222);
}










#form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

input {
  position: relative;
  width: 50%;
}

#add {
  position: relative;
  width: 8%;
  left: 21.5%
}

#list-books {
  border: 2px solid black;
}

.book {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 12px;
}

.btn-remove {
  position: absolute;
  right: 20px;
  height: 36px;
  margin-left: 30%;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

tr:nth-child(even) {
  background-color: #7b7b7b27;
}
